# Lock files #
###################
*.php~
*.html~
*.css~
/.vs/VSWorkspaceState.json
/.vs/slnx.sqlite
/.vs/EotECharacters/config/applicationhost.config
/.vs/EotECharacters/v16/.suo
/.vs/launch.vs.json
